/* GENERAL STYLING */



/* NAVBAR */

:root {
    --nav-bg: #FFE082;
    --nav-color: #FFFDD0;
    --border-color: #FFE082;
}

.nav-bar {
    background-color: var(--nav-bg);
    padding: 1rem 1rem;
    box-shadow: 0 2px 4px #FFE082;
}

.fluid-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--nav-color);
    font-weight: 650;
    padding: 0.3rem 0;
    margin-bottom: 0.5rem;
}

.nav-toggle {
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 0.5rem;
    display: none;
}

.toggle-icon,
.toggle-icon::before,
.toggle-icon::after {
    display: block;
    width: 25px;
    height: 3px;
    background: #FFFDD0;
    position: relative;
    transition: 0.3s;
}

.toggle-icon::before,
.toggle-icon::after {
    content: '';
    position: absolute;
    left: 0;
}

.toggle-icon::before {
    top: -8px;
}

.toggle-icon::after {
    top: 8px;
}

.nav-collapse {
    width: auto;
    overflow: hidden;
    max-height: none;
    transition: max-height, 0.4s ease;
}

.nav-list {
    display: flex;
    gap: 1rem;
}

.nav-link {
    text-decoration: none;
    color: #FFFDD0;
    transition: color 0.15s ease-in-out;
}

.nav-link:hover {
    color: #FFF0C2;
}