/* GENERAL STYLING */

ul {
  list-style-type: none;
}

body {
  margin: 0;
  background-color: #fff8e1;
}

.space {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/* NAVBAR */

:root {
  --nav-bg: #ffe082;
  --nav-color: #4a3718;
  --border-color: #ffe082;
}

.nav-bar {
  background-color: var(--nav-bg);
  padding: 1rem 1rem;
  box-shadow: 0 2px 4px #ffe082;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}

.fluid-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  font-size: 1.25rem;
  text-decoration: none;
  color: var(--nav-color);
  font-weight: 750;
  padding: 0.3rem 0;
  margin-bottom: 0.5rem;
}

.nav-toggle {
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 0.5rem;
  display: none;
}

.toggle-icon,
.toggle-icon::before,
.toggle-icon::after {
  display: block;
  width: 25px;
  height: 3px;
  background: #4a3718;
  position: relative;
  transition: 0.3s;
}

.toggle-icon::before,
.toggle-icon::after {
  content: "";
  position: absolute;
  left: 0;
}

.toggle-icon::before {
  top: -8px;
}

.toggle-icon::after {
  top: 8px;
}

.nav-collapse {
  width: auto;
  overflow: hidden;
  max-height: none;
  transition:
    max-height,
    0.4s ease;
}

.nav-list {
  display: flex;
  gap: 1rem;
}

.nav-link {
  text-decoration: none;
  color: #4a3718;
  transition: color 0.15s ease-in-out;
}

.nav-link:hover {
  color: #8d6e63;
}

.button-link {
  padding: 10px;
  color: #4a3718;
  background-color: transparent;
  border: 1px solid #4a3718;
  border-radius: 0.375rem;
  cursor: pointer;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.button-link:hover {
  background-color: #4a3718;
  color: #fffdd0;
}

/* BODY */

.body {
  padding: 10px;
  background-color: #fff8e1;
}

.blog-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  align-items: stretch;
}

.main-list, .side-list {
  display: flex;
  flex-direction: column;
}

.main-list > :first-child,
.side-list > :first-child {
    margin-top: 0;
}

.blogs, .side-blogs {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.blogs hr,
.side-blogs hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
}


.blogs {
  padding: 2rem;
  border-radius: 0.375rem;
  background-color: #ffe082;
  color: #4a3718;
}



.blogs hr {
  color: #fff8e1;
  border-color: #fff8e1;
}

.side-blogs hr {
  color: #4a3718;
  border-color: #4a3718;
}

.blog {
  margin: 2rem auto;
  background-color: #4a3718;
  color: #fff8e1;
  padding: 1rem;
  border-radius: 0.375rem;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  line-height: 1.75;
}

.date-container {
  height: 1.5rem;
  margin-bottom: 1rem;
}

.date {
  transition: opacity 0.8s ease-in-out;
  opacity: 1;
}

.date.hidden {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.blog .view-link {
  color: #fff8e1;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;
}

.blog .view-link:hover {
  color: #fffdd0;
}

.side-list {
  padding: 2rem;
  border-radius: 0.375rem;
  background-color: #ffe082;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  line-height: 1.65;
}

.side-blog {
  margin: 2rem auto;
  background-color: #fff8e1;
  color: #4a3718;
  padding: 1rem;
  border-radius: 0.375rem;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  line-height: 1.65;
}


.side-blog .view-link {
  color: #000;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 750;
  font-style: italic;
}

.side-blog .view-link:hover {
  color: #4a3718;
}


/* POST */

.form {
  margin-top: 5rem;
  margin-bottom: 5rem;
}



.blog-input {
  margin: 1rem auto;
  padding: 1rem;
  display: block;
  width: 30rem;
  border-radius: 0.375rem;
  background-color: #ffe082;
  color: #4a3718;
  font-family: "Merriweather", serif;
  font-size: 16px;
  font-weight: 450;
  font-style: normal;
  line-height: 1.75;
}

textarea {
  height: 30rem;
}

.submit-btn {
  display: block;
  margin: 1rem auto;
  padding: 10px;
  color: #4a3718;
  background-color: transparent;
  border: 1px solid #4a3718;
  border-radius: 0.375rem;
  cursor: pointer;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 650;
  font-style: normal;
}

.submit-btn:hover {
  background-color: #4a3718;
  color: #fffdd0;
}

/* VIEW */

.view {
  margin: 2rem auto;
  padding: 2rem;
  background-color: #4a3718;
  color: #fff8e1;
  border-radius: 0.375rem;
  width: 30rem;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  line-height: 1.75;
}

.buttons {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 650;
  font-style: normal;
}

.delete-btn {
  display: block;
  margin: 1rem auto;
  padding: 10px;
  color: #fff8e1;
  background-color: #c6412e;
  border: 1px solid #c6412e;
  border-radius: 0.375rem;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 650;
  font-style: normal;
}

.edit-btn {
  text-decoration: none;
  display: inline-block;
  margin: 1rem auto;
  padding: 10px;
  border-radius: 0.375rem;
  cursor: pointer;
  color: #4a3718;
  background-color: transparent;
  border: 1px solid #4a3718;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.edit-btn:hover {
  background-color: #4a3718;
  color: #fff8e1;
}

/* FOOTER */

.footer .flex-container {
  background-color: #ffe082;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}

.footer .copyright,
.footer .brand,
.footer .nav-list {
  flex: 1;
}

.copyright {
  text-align: left;
  padding-left: 10px;
}

.footer .brand {
  text-align: center;
}

.footer .nav-list {
  justify-content: flex-end;
  padding-right: 10px;
}

.footer-link {
  color: #4a3718;
}

/* MEDIA QUERY */

@media (max-width: 992px) {
  /* NAVBAR */

  .fluid-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-toggle {
    display: block;
    margin-top: 0.5rem;
  }

  .nav-toggle.active .toggle-icon {
    background: transparent;
  }

  .nav-toggle.active .toggle-icon::before {
    transform: rotate(45deg);
    top: 0;
  }

  .nav-toggle.active .toggle-icon::after {
    transform: rotate(-45deg);
    top: 0;
  }

  .nav-list {
    flex-direction: column;
  }

  .nav-collapse {
    width: 100%;
    max-height: 0;
  }

  .nav-collapse.active {
    max-height: 300px;
  }

  /* BODY */

  .blog-grid {
    grid-template-columns: 1fr;
    max-width: 900px;
    
  }

  .main-list, .side-list {
    place-self: center;
    width: 30rem;
}

  /* POST */

  textarea {
    height: 20rem;
  }

  /* VIEW */

  .view {
    width: 20rem;
  }

  .buttons {
    margin-bottom: 2rem;
  }

  /* FOOTER */

  .footer .flex-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .footer .brand {
    padding-left: 10px;
  }
}
